body{
    background-color: #0D1520;
    color:#70B8FF;
    font-size: 1em;
    font-family:'Montserrat', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0px;
}

nav a {
    margin: 15px;
}

.menu{
    font-size: 1.2em;
    display: flex;
    justify-content:flex-end;

    margin-right: 120px;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;

    margin-right: 120px;
    margin-top: 150px;
}

footer a {
    margin: 5px;
}

h1{
    color: linear-gradient(#70B8FF, #C2E6FF);
    font-size: 3.5em;
    

    width: 80%;
    margin: 0 auto 50px auto;
}

a {
    color: #70B8FF;
    text-decoration: none;
}

.entete {
    background-color: #202248;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    margin: 0 auto 80px auto;
}

.entete p {
    color:#C2E6FF;
    text-align: justify;

    width: 70%;
}

.cta-portfolio, .cta-demande-projet {
    background: #3D3E82;
    color: #C2E6FF;
    text-align: center;

    border: solid;
    border-width: 0.1em;
    border-radius: 50px;

    padding: 5px 5px 5px 5px;
    width: 78%;
}

.cta-portfolio {
    width: 15%;
    height: 30%;
}

.cta-portfolio:hover, .cta-demande-projet:hover {
    background-color: #3d3e8293;
    text-decoration: none;
  }

.experience{
    display: flex;

    width: 70%;
    margin:50px auto 0 auto;
}

.CV {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.CV img {
    margin-bottom: 20px;
}


.skills{
    display: flex;
    justify-content: flex-end;
    
    width: 50%;
}

.skills h2{
    width: 10%;
}

.skills p{
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    height: 50%;
}
.bulle{ 
    background: linear-gradient(#301c3b, #301c3bdc);
    color: #C2E6FF;
    text-align: center;

    border: solid;
    border-width: 0.1em;
    border-radius: 50px;

    height: 20px;
    margin: 5px;
    padding: 10px;
}

