body{
    background-color: #0D1520;
    color:#70B8FF;
    font-size: 1em;
    font-family:'Montserrat', sans-serif;
}


li {
    list-style: none;
}


nav a, nav a:visited {
    color:#71fff5;
    text-decoration: none;
}

a, a:visited {
    color:white;
    text-decoration: none;
}

a:hover{
    color:white;
}

li a {
    padding: 15px;
}

nav{
    display: flex;
    align-items: center;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    width: 60vw;
}


#icons {
    margin-left: 50vw;
    cursor: pointer;
    display: none;

}

.logo{
    width: 30vw;
}

footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-left: 50vw;
    margin-right: 15vw;
    margin-top: 150px;
}

footer a {
    margin: 5px;
}

h1{
    background: -webkit-linear-gradient(white, #71fff5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    
    margin-left: 20px;
}

h2 {
    color:rgb(114, 156, 171);
    font-size: 1.7em;
}


.presentation {
    border-left: 1.3px skyblue solid;
    border-bottom: 1.1px skyblue solid;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80%;
    padding: 10px;
    margin-left: 50px;
}

.presentation img{
    margin-bottom: 20px;
    margin-top: 50px;
}

.cta-experience {
    background: linear-gradient(#71fff62e, #71fff6b4);


    border: solid;
    border-radius: 50px;
    font-size: 1em;
    padding: 8px;
    margin: 20px;
}



.cta-experience:hover {
    font-size: large;
    text-decoration: none;
  }


.typewriter-box {
    display:inline-block;

    margin-top: 0px; 
}

.typewriter-anim {
    font-size: 3em;
    font-family: monospace;
    letter-spacing: 5px;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    
    animation: 
        typing 3s steps(18),
        cursor .5s step-end infinite alternate;

    margin-top: 0px;
    width: 100%;
}

@keyframes cursor {
    50% { border-color: transparent};
}

@keyframes typing {
    from {width: 0};
}

.texte {
    color:#C2E6FF;
    text-align: justify;

    width: 80%;
    margin: 0 40px 35px 40px;

}



@media(max-width:850px){
    body{
        margin: 0;
        padding: 0;
        width: 90%;
    }
    #icons{
        display: block;
    }
    #icons::before{
        content: "\2630";
        font-size: 2rem;
        color:#4eaba980;
    }

    .active #icons::before{
        content: "\2715";
        position: absolute;
        font-size: 2rem;
        color:black;

        margin-top: 15px;
        font-weight: bold;
        background-color: #71fff65c;


        transition: 0.70s;
        
    }

    nav{
        font-size: 2em;
        width: 100%;
    }
    
    nav ul{
        position: fixed;
        left: -150%;
        top: 5%;
        flex-direction: column;
        padding: 0;
        width: 100%;
        text-align: center;
        transition: 0.30s;
        background:#71fff5;
        border-radius: 15px;

    }
    nav li{
        padding: 20px 0;


    }


    nav.active ul{
        left:0;
        width: 80%;
        margin-left: 10vw;
    }

    a{
        text-transform: uppercase;
    }

    nav a, nav a:visited {
        color: black;
        text-decoration: none;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .texte{
        margin: 0 40px 53px 20px;
    }

    .presentation img{
        margin-bottom: 0px;
        margin-top: 50px;
    }




    .typewriter-anim {
        font-size: 2.2em;
    }

    .logos-social-media a {
        display: flex;
        flex-direction: row;
        margin-right: 2vw;
        margin-left: 0;
    }

    #logo-footer {
        width: 60%;
    }

    footer {
        margin-left: 0px;
    }
}